<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <div class="w-full h-screen bg-zinc-900 p-10 text-white">
        <h1 class="text-3xl tracking-tighter font-bold text-center text-white">
hello
        </h1>
        <form action="/create" method="post" class="flex flex-col justify-center items-center ">
            <input type="text" placeholder="Name" name="name" class="m-3 p-2 rounded-md bg-transparent border-2 border-zinc-800 outline-none w-1/4"/>

        </form>
    </div>
  </body>
</html>